__pycache__/
*.pyc
*.pyo
*.pyd
.env
models/
checkpoints/
clean.py
node_modules
test_search.py
# file nhay cam
hoanbucon.gay
mingking.gay
ansaygex
saygex69
prompt_engineering.py
agent_architecture.md
intent_ex.py
db
prompt.py